
.main-contacto { 
    h3 {
        font-size: 40Px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content:space-between ;
        align-items: center;
    }
}